<%= simple_form_for @applicant, :html => { :class => 'form-horizontal' } do |f| %>
<% @applicant.errors.full_messages.each do |msg| %>
      <p><%#= msg %></p>
   <% end %>
<p style="color:#40C035">Personal Details:</p>
  <div class="control-group"><br><br>
    <%#= f.input :first_name, :label => "Language",:autofocus => true,placeholder: 'First Name',:class => 'control-label' %>
    <%= f.label :name,"*First Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
      <%= errors_for @applicant, :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lname,"*Last Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lname, :class => 'text_field' %>
      <%= errors_for @applicant, :lname %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email,"*Email", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
      <%= errors_for @applicant, :email %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mobile,"*Mobile Number", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mobile, :class => 'text_field' %>
      <%= errors_for @applicant, :mobile %>
    </div>
  </div>
  <p style="color:#40C035">Education Details:</p>
  <div class="control-group"><br><br>
    <%= f.label :education,"Education Qualification", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :education, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :technology,"Technology Skills", :class => 'control-label' %>
    <div class="controls">
          <%= f.select :technology, Technology.all.collect(&:name) %>

    </div>
  </div>
  <div class="control-group">
    <%= f.label :experience,"Experience", :class => 'control-label' %>
    <div class="controls">
    <%= f.select :experience, Experience.all.collect(&:name) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :role, :class => 'control-label' %>
    <div class="controls">
    <%= f.select :role, Role.all.collect(&:name) %>
    </div>
  </div>
  <p style="color:#40C035">Interview Details:</p>
  <div class="control-group"><br><br>
    <%= f.label :round, :class => 'control-label' %>
    <div class="controls">
    <%= f.select :round, Round.all.collect(&:name) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :scheduleofinterview, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :scheduleofinterview, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :interviewers, :class => 'control-label' %>
    <div class="controls">
    <%= f.select :interviewers, Interviewer.all.collect(&:name) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :status, Status.all.collect(&:name) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :CV,"*Resume/CV", :class => 'control-label' %>
    <div class="controls">
 <%= f.file_field :cv %>
 <%= errors_for @applicant, :cv %>    </div>
  </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%#= f.submit "Reset", :type => "reset",:class => 'btn btn-primary' %>
    <%= link_to "Reset", new_applicant_path,:class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                applicants_path, :class => 'btn btn-primary' %>

  </div>
<% end %>
